.AppContainer.light {
  background-color: #f8f9fa;
  color: #343a40;
}
.AppContainer.dark {
  background-color: #343a40;
  /* color: #f8f9fa; */
  color: black;
}

.darkMode {
  display: flex;
  align-items: centre;
}

.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
}

.switch .ThemeIcon {
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 18px;
  transition: transform 0.2s ease;
}

.themeButton {
  background: none; /* Removes the background */
  border: none; /* Removes the border */
  padding: 0; /* Removes any default padding */
  margin: 0; /* Removes any default margin */
  outline: none; /* Removes the outline when focused */
  cursor: pointer;
}
