.AppContainer.light,
.mainContent.light {
  background-color: #f8f9fa;
  color: #343a40;
}
.AppContainer.dark,
.mainContent.dark {
  background-color: #343a40;
  color: #f8f9fa;
  /* color: black; */
}

.header.dark,
.footer.dark {
  background-color: #3e57e65e;
}
.signupInputContainer.dark {
  background-color: #3e57e65e;
}
.signupInputContainer.light {
  background-color: #ffffef;
}
.header.light,
footer.light {
  background-color: #fafaf0;
}
/* .logo.dark {
  background-color: black;
  border-radius: 300px;
} */

.darkMode {
  display: flex;
  align-items: center;
}

.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
}

.switch .ThemeIcon {
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 18px;
  transition: transform 0.2s ease;
}

.themeIcon.light {
  color: #f8f9fa;
}

.themeIcon.dark {
  color: #343a40;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-self: center;
  align-self: center;
}

.themeButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.ThemeIcon {
  transition: opacity 0.3s ease;
  opacity: 1;
}

.ThemeIcon.fade {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}
.AppContainer,
.header {
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* Keyframes for fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.walk.light {
  background-color: #fff;
  box-shadow: rgb(255, 245, 245) 2px 2px 2px;
  color: #343a40;
}

.walk.dark {
  background-color: #a02aee27;
  box-shadow: rgb(63, 20, 20) 2px 2px 2px;
  color: #f8f9fa;
}

.walkPreviewDetails.light,
.walkDetailContentsContainer.light {
  background-color: #fafaf0;
}
.walkPreviewDetails.dark {
  background-color: #3e57e65e;
}
.walkDetailContentsContainer.dark {
  background-color: #a02aee27;
}

.noTextDecoration {
  text-decoration: none;
  color: inherit;
  display: block;
}
#map {
  height: 100%;
  border-radius: 0 0 10px 10px;
}

.mapContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}

.gm-title {
  color: black;
}

/* SIGN UP PAGE */

.signupContainer.dark {
  background-color: #3e57e65e;

  color: white;
}

.signupContainer.light {
  background-color: #fff;
  color: black;
}

/* OVERLAY STYLINGS */

.overlay.dark {
  background-color: #343a40;

  color: white;
}

.overlay.light {
  background-color: #fff;
  color: black;
}

.toggleOverlayButton.dark {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  right: -100%; /* Hidden initially */
  width: 300px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.overlay.open {
  right: 0; /* Slides in from right */
}

.toggleOverlayButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

.overlayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logoutButton {
  margin-top: auto;
  color: #fff;
  background-color: #f44336;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
}

.overlayButton {
  padding: 12px 24px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  width: 100%;
  max-width: 150px;
  margin: 10px;
}

.overlayButton.light {
  background-color: #f1f5f8;
  color: #007bff;
  border: 2px solid #007bff;
}

.overlayButton.light:hover {
  background-color: #e3f2fd;
  color: #0056b3;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
  transform: scale(1.03);
}

/* Dark Theme Button */
.overlayButton.dark {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
}

.overlayButton.dark:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 12px rgba(0, 86, 179, 0.3);
  transform: scale(1.03);
}

/* SIGN IN / OUT FORM STYLES */

.submitButton {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  color: #fff;
  background-color: #66adc3;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submitButton:hover {
  background-color: #0056b3;
}

.formInput {
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.3s ease;
  color: black;
}

.formInput:hover {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.1);
  transform: scale(1.02);
}

/* Focus Effect */
.formInput.dark:focus {
  outline: none;
  border-color: #fff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.2);
  background-color: #87aecc;
  color: white;
  transform: scale(1.02);
}
.formInput.light:focus {
  outline: none;
  border-color: #fff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.2);
  background-color: #007bffb6;
  color: white;
  transform: scale(1.02);
}

.profileSection {
  display: flex;
}
.uploadInput {
  display: flex;
  /* display: none; */
  padding: 15px 0 15px 0;
  max-width: 80%;
  display: inline-block;
  margin: auto;
}
.uploadContainer:hover {
  cursor: pointer;
}
