@media (min-width: 1024px) {
  html,
  body,
  .app {
    margin: 0;
    padding: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    padding: 0;
    overflow-x: hidden;
  }

  .app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent; /* Optional: Transparent background */
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100px;
    background-color: rgb(255, 0, 0);
  }
}
