@media (min-width: 1024px) {
  html,
  body,
  .app {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow-x: hidden;
  }

  .app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: transparent;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100vw;
    height: auto;
    background-color: #fafaf0;
    flex-wrap: wrap;
  }
  .logo {
    height: auto;
    width: auto;
    max-width: 175px;
    margin-left: 35px;
  }
  .searchBarDiv {
    height: 50px;
    width: 40%;
    border-radius: 10px;
    background-color: aqua;
  }
}
