@media (max-width: 1024px) and (min-width: 435px) {
  html,
  body,
  .app {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
  }
  .app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: transparent;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 150px;
    background-color: #fafaf0;
  }
  .logo {
    height: auto;
    max-height: 150px;
    width: auto;
    margin-left: 20px;
  }
}
