/* For modern browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); /* Dark grey with opacity */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6); /* Darker on hover */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Light grey track */
  border-radius: 10px; /* Rounded edges */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.1); /* thumb color track color */
}

html {
  scroll-behavior: smooth;
}
