@media (max-width: 435px) {
  html,
  body,
  .app {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
  }

  .app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: transparent;
  }
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #fafaf0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo {
    height: auto;
    width: auto;
    max-width: 100px;
    margin-left: 15px;
  }

  .navBar {
    display: flex;
    justify-self: stretch;
    width: 100%;
    max-width: 120px;
    height: 100px;
    background-color: red;
    margin: 5px;
  }
  .searchBarDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 40%;
    background-color: aqua;
    border-radius: 10px;
  }

  .searchBar {
  }
}
