@media (max-width: 436px) {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "DM Sans", sans-serif;
    /* overflow-x: hidden; */
  }

  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo {
    height: auto;
    max-width: 85px;
    margin-left: 15px;
  }
  .overlayLogo,
  .placeholderImage {
    height: 100px;
    width: auto;
    max-width: 100px;
  }
  .overlayLogo.dark {
    background-color: #fafaf0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .profilePicture {
    height: 100px;
    width: auto;
    border-radius: 50%;
    max-width: 100px;
  }
  .profileIcon {
    border-radius: 50%;
  }
  .navBarContainer {
    display: flex;
    justify-self: stretch;
    width: 20%;
    max-width: 120px;
    height: 100px;
    margin: 5px;
  }

  .searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 40%;
    border-radius: 10px;
  }

  .searchBar {
    height: 100%;
    width: 100%;
    margin-right: 5px;
  }

  .searchInput {
    border: 0.5px solid rgb(223, 221, 221);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    color: black;
    font-size: 1em;
    text-align: left;
    text-overflow: ellipsis;
    box-shadow: #000000 0px 0px 0.8px;
  }

  .navBar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .searchInput::placeholder {
    color: rgb(190, 188, 188);
    font-size: 1em;
    text-align: left;
  }

  .icon {
    height: 30px;
    width: 30px;
  }

  .walksContainer {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    flex-wrap: wrap;
    width: 100%;
    height: min-content;
    margin: 0 auto;
    flex-grow: 1;
    overflow-y: auto;
    row-gap: 15px;
  }

  .walk {
    flex: 0 0 calc(33.33% - 10px); /* Three items per row minus the margin */
    margin: 5px;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 10px;
    flex-direction: row;
    height: 175px;
    width: 356px;
    min-width: 356px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .walkPreviewImg {
    flex: 0 0 50%;
    height: 175px;
    width: 178px;
    max-width: 178px;
    max-height: 175px;
    border-radius: 10px 0 0 10px;
  }

  .walkPreviewTextContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 3;
    /* padding: 5px; */
  }

  .walkPreviewTitle {
    font-size: 20px;
  }

  .walkPreviewLocation {
    margin: 0;
    padding: 5px;
    font-size: 14px;
  }

  .walkPreviewDetails {
    border-radius: 0 0 10px 0;
    width: 100%;
    /* min-width: 90%; */
    height: auto;
    margin: auto;
    margin-bottom: 0px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 12px;
  }
  .mainContent {
    flex-grow: 1;
    /* padding: 20px; */
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footerLogo {
    height: 100px;
    width: auto;
  }

  .address {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .footerEmail {
    text-decoration: underline;
    color: inherit;
  }
  .quoteDiv {
    width: 90%;
    max-width: 400px;
    font-size: large;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 0 auto;
  }

  .quote {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
    padding: 10px;
    font-size: 1.6rem;
  }

  .walkDetailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* padding: 10px; */
  }

  .mapContainer {
    height: min-content;
  }

  /* WALK DETAIL CONTENTS CONTAINER */

  .walkDetailContentsContainer {
    /* border: red solid 1px; */
    height: 600px;
    width: 100%;
    border-radius: 10px;
    /* padding: 10px; */
    /* padding-bottom: 5px; */
    margin-top: 10px;
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .walkDetailImg {
    width: 100%;
    height: 300px;
    max-height: 275px;
    border-radius: 10px;
    align-self: flex-end;
    margin-bottom: 1px;
  }
  .walkDetailContents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .walkDetailIcon {
    margin: 10px;
  }
  .walkDetailIconContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding-top: 10px;
    width: 100%;
  }

  .walkDetailWalkName {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .walkDetailLocation {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .walkDetailWalkType {
    margin-top: 0;
  }
  .walkDetail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  .onOfferContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .onOfferHeader {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
  .onOfferList {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 3px;
    font-size: 1rem;
  }

  .distance {
    font-size: 1.6rem;
    /* text-decoration: ; */
  }

  /* SIGN UP / SIGN IN PAGES */

  .signuplogo {
    width: 150px;
    height: 150px;
  }

  .signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 80%;
    justify-self: center;
    border-radius: 10px;
    margin: 0 auto;
    flex-grow: 1;
    min-height: 100vh;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .signupForm {
    display: flex;
    flex-direction: column;
  }

  .signupForm label,
  .signupForm input,
  .signupForm button {
    margin-bottom: 10px;
  }

  .filterBoxesContainer {
    width: 90%;
    height: auto;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    justify-self: center;
  }
}
